 <!-- Product section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{pdata.productImg}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h2 class="fw-bolder">{{pdata.productName}}</h2>
                <div class="fs-5 mb-3">
                    <h4>Author : {{pdata.author}}</h4>
                  <h4>Rating : {{pdata.rating}}</h4>
                  <h5>Review : {{pdata.review}}</h5>
                </div>
                <p class="lead">{{pdata.description}}</p>
                <div class="d-flex">
                    <button class="btn btn-dark flex-shrink-0 me-3 ps-4 pe-4" type="button">
                        <a href="">Edit</a>
                       </button>
                    <button class="btn btn-dark flex-shrink-0" type="button">
                     <a href="">Delete</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
